#title {
    color: red;
    font-size: larger;
}

body
{ 
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

body img
{
    /* Constrain images on small screens */
    max-width: 100%;
}